<a href="https://colab.research.google.com/github/tanu-1906/Artificial_Intelligence_Lab_SE_B_13/blob/master/SimpleOperations2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
number = 6

print(f"Multiplication Table for {number}:")
for i in range(1, 11): # Loop from 1 to 10
    print(f"{number} x {i} = {number * i}")

Multiplication Table for 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60